* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #e5e5e5;
	font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

.img-yoga {
	display: block;
	margin: 195px auto 122px auto;
}

input {
	display: block;
	width: 321px;
	height: 46px;
	background: #f7f7f7;
	box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	border: none;
	margin: 0 auto;
}

input::placeholder {
	font-style: normal;
	font-size: 13px;
	line-height: 15px;
	color: #969696;
	padding-left: 19px;
}

.input-password {
	margin-top: 21px;
}

.forgot-password {
	color: #000000;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	text-decoration: none;
	margin: 35px 30px 38px 0;
	display: block;
	text-align: right;
}

button {
	display: block;
	margin: 0 auto;
	width: 133px;
	height: 46px;
	background: #323232;
	box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
}

.link-signup {
	display: block;
	margin: 31px auto 62px auto;
	text-align: center;
	color: #969696;
    font-style: normal;
    font-weight: 15px;
    line-height: 18px;
}

strong {
	color: #323232;
}

.or-paragraph {
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #000000;
}

.container {
    text-align: center;
    margin: 18px auto 80px auto;
}

.img-link {
    margin: 0 18px;
}